<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mhjg.yose.comm.mapper.CommMapper">
	
	<insert id="insert" parameterType="java.util.Map">
		INSERT INTO TEMP (
			COL1, COL2, COL3
		) VALUES (
			#{col1}, #{col2}, #{col3}
		)
	</insert>
	
</mapper>